html {
    background: linear-gradient(32deg, #fff, #e5f2f2);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12em;
    gap: .5rem;
}
.sectionBox {
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .125);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1rem 4rem;
    margin: .625rem;
    background: #fff;
}

#resultContainer {
    padding: 2rem;
}

#resultContainer > h3 {
    text-align: center;
    font-size: 1.5rem;
}